/*
	Starter på mobil-/nettbrettdesign, og skalerer oppover.
*/

/* Sett sammen padding, margin og width til å sammen bli width for alle HTML elementer */
* {
	box-sizing: border-box;
	max-width: 100%; /*Hindre at noen elementer blir for lange!*/
}

.row::after {
	content: "";
	clear: both;
	display: block;
}

[class*="col-"] {
	float: left;
	clear: both;
	width: 100%;
}

html {
	height: 100%;
}

body {
	color: #333;
	background-color: #3377AA;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility !important;

	font-size: 1em;
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
}

ul.topnav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5a647f+0,3f4c6b+100 */
	background: #5a647f; /* Old browsers */
	background: -moz-linear-gradient(top,	#5a647f 0%, #3f4c6b 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,	#5a647f 0%,#3f4c6b 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,	#5a647f 0%,#3f4c6b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5a647f', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-9 */
}
ul.topnav li {float: left;}
ul.topnav li:not(:first-child) {display: none;}

ul.topnav li.icon {
	float: right;
	display: inline-block;
}

ul.topnav li a {
	display: inline-block;
	color: #f2f2f2;
	text-align: center;
	padding: 0.8em 0.9em;
	text-decoration: none;
	transition: background-color 250ms;
	font-size: 1em;
}
ul.topnav li a:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

ul.topnav.responsive {position: relative;}
ul.topnav.responsive li.icon {
	position: absolute;
	right: 0;
	top: 0;
}
ul.topnav.responsive li {
	float: none;
	display: inline;
}
ul.topnav.responsive li a {
	display: block;
	text-align: left;
}

/* Side setup */
header {
	padding: 0.8em;
	background-color: white;
}

#logo {
	display: none;
}

#checkout_list_phone {
	display: block;
	font-size: 75%;
}
#checkout_list {display: none;}

#main_nav {
	box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.3);
}

#side_nav {
	background-color: rgba(255, 255, 255, 0.8);
	border-bottom: 0.01em solid #333;
	height: 100%;
	margin: 0;
	text-align: center;
	font-size: 120%;

	word-wrap: break-word;
}

#side_nav:hover {
	background-color: rgba(255, 255, 255, 0.75);
}

#side_nav a {
	text-decoration: none;
	color: #333;
}

#content {
	background-color: rgba(255, 255, 255, 0.6);
	padding: 0.3em;
	margin: 0;
	height: 100%;
	font-size: 75%;
}

#content img {
	width: 25%;
	height: 25%;
	transition: opacity 250ms;
}

#content img:hover {
	opacity: 0.8;
}

#content_top {
	text-align: center;
	font-size: 130%;
	border-bottom: 0.04em dotted #777;
	margin-bottom: 1em;
	padding: 0.5em;
	padding-top: 0;
	font-weight: bold;
}

footer {
	padding: 0.5em 0;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.4);
	border-top: 0.01em solid #333;
	border-bottom: 0.01em solid #333;
}

#copyright {
	color: #222;
}

q {
	font-style: italic;
}

.small_img {
	max-width: 25em;
	max-height: 25em;
}
.smaller_img{
	width: 2em;
	height: 2em;
}


/*
	Store størrelser, alene utgjør maks størrelse
	Fra 600px til MAX

	Gir "datamaskin" format av nettsiden.
*/
@media only screen and (min-width : 600px) {

	.row::after {
		content: "";
		clear: both;
		display: block;
	}

	[class*="col-"] {
		clear: none;
	}

	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}

	.img {
		width: 2em;
		height: 2em;
	}

	.ref{
		color: #000000;
		text-decoration:none;
		text-align:center;
	}

	body {
		font-size: 100%;
	}

	#logo {
		display: block;
	}

	ul {
		list-style-type: square;
	}

	ul.topnav li.icon {
		display: none;
	}

	ul.topnav li:not(:first-child) {display: block;}


	ul.topnav {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #333;

		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5a647f+0,3f4c6b+100 */
		background: #5a647f; /* Old browsers */
		background: -moz-linear-gradient(top,	#5a647f 0%, #3f4c6b 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,	#5a647f 0%,#3f4c6b 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,	#5a647f 0%,#3f4c6b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5a647f', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-9 */
	}
	ul.topnav li {float: left;}
	ul.topnav li a {
		display: inline-block;
		color: #f2f2f2;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		transition: background-color 250ms;
		font-size: 17px;
	}
	ul.topnav li a:hover {
		background-color: rgba(255, 255, 255, 0.1);
	}
	ul.topnav li.icon {display: none;}

	/* Side setup */
	header {
		padding: 15px;
		background-color: white;
	}

	#checkout_list_phone {
		display: none;
	}

	#checkout_list {
		display: block;
	}

	#main_nav {
		box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.3);
	}

	#side_nav {
		background-color: rgba(255, 255, 255, 0.8);
		border: 1px solid white;
		height: 100%;
		padding: 25px;
		text-align: left;

		word-wrap: break-word;
	}

	#side_nav:hover {
		background-color: rgba(255, 255, 255, 0.75);
	}

	#side_nav a {
		text-decoration: none;
		color: #333;
	}

	#content {
		padding: 25px;
		min-height: 45em;
		border-left: 0.1em solid #555;
	}

	#content img {
		width: 100%;
		height: 100%;
	}

	#content_top {
		font-size: 150%;
		text-align: center;
		border-bottom: 1px dotted #333;
		margin-bottom: 10px;
		padding: 5px;
		padding-top: 0;
	}

	footer {
		padding: 1%;
		text-align: center;
		color: #ddd;
		font-size: 1.5em;
	}

}

/*
	Mellom 600 og 1025 px
	Fjern logo og la betalingsinfo i header til å ta hele lengden
*/
@media only screen and (min-width : 600px) and (max-width: 1025px) {
	#logo {
		display: none;
	}

	#checkout_list {
		width: 100%;
	}

	#checkout_list_phone {
		width: 100%;
	}
}

/*
	Mellom 600 og 1281 px
	Sett sidenavigasjon og content under hverandre
*/
@media only screen and (min-width : 600px) and (max-width: 1281px) {
	#content {
		clear: both;
		width: 100%;
	}

	#side_nav {
		width: 100%;
		text-align: center;
		font-size: 130%;
	}

	#content_top {
		font-size: 200%;
	}
}
